@import "vars";

@mixin flexColumnCenterCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexAlignItemsCenter($justifyContent) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}
