$colorSelectSite: #F16D7F;
$colorWhite: #FFF;
$colorDark: #222222;
$colorAnotherDark: #222224;
$colorBlack: #000;
$justifyContent: center; 

$widthSite: 1140px;
$gapGrid: 30px;
$tabletWidthSite: 736px;
$mobileWidthSite: 360px;